BankNet/Banking/OutboundRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="OutboundReqeust" type="OutboundRequest"/>
    <xsd:complexType name="OutboundRequest">
    	<xsd:sequence>
    		<xsd:element name="auhhorized" type="xsd:boolean"></xsd:element>
    		<xsd:element name="message" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>